# BIRD SPECIES PREDICTION PROJECT

## Importing Libraries & Dataset

In [1]:
import pandas as pd


imgatt = pd.read_csv("C:/Users/Admin/Downloads/CUB_200_2011/CUB_200_2011/attributes/image_attribute_labels.txt",
                     sep='\s+', header=None, error_bad_lines=False, warn_bad_lines=False,
                     usecols=[0,1,2], names=['imgid', 'attid', 'present'])

## Data Exploration

In [2]:
imgatt.head()

   imgid  attid  present
0      1      1        0
1      1      2        0
2      1      3        0
3      1      4        0
4      1      5        1

In [3]:
imgatt.shape

(3677856, 3)

In [4]:
imgatt2 = imgatt.pivot(index='imgid', columns='attid', values='present')

In [5]:
imgatt2.head()

attid,1,2,3,4,5,6,7,8,9,10,...,303,304,305,306,307,308,309,310,311,312
imgid,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
5,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [6]:
imgatt2.shape

(11788, 312)

In [7]:
imgatt2.isnull().sum()

attid
1      0
2      0
3      0
4      0
5      0
      ..
308    0
309    0
310    0
311    0
312    0
Length: 312, dtype: int64

In [8]:
imgatt2.info

<bound method DataFrame.info of attid  1    2    3    4    5    6    7    8    9    10   ...  303  304  305  \
imgid                                                    ...
1        0    0    0    0    1    0    0    0    0    0  ...    0    0    0
2        0    0    0    0    0    0    0    0    0    0  ...    0    0    0
3        0    0    0    0    1    0    0    0    0    0  ...    0    0    0
4        0    0    0    0    1    0    0    0    0    0  ...    0    0    0
5        0    0    0    0    1    0    0    0    0    0  ...    0    0    1
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
11784    0    1    0    0    0    0    0    0    0    0  ...    0    0    0
11785    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11786    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11787    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11788    0    0    0    0    0    0    1    0    0    0  ...    0    0    0

attid  306  307  308  309  310  311  312
imgid
1        0    0    1    0    0    0    0
2        0    0    0    0    0    0    0
3        0    0    1    0    0    1    0
4        1    0    0    1    0    0    0
5        0    0    0    0    0    0    0
...    ...  ...  ...  ...  ...  ...  ...
11784    1    0    0    1    0    0    0
11785    1    0    1    0    0    0    0
11786    0    0    1    0    0    1    0
11787    0    0    0    0    0    1    0
11788    1    0    1    0    0    0    1

[11788 rows x 312 columns]>

In [9]:
imglabels = pd.read_csv("C:/Users/Admin/Downloads/CUB_200_2011/CUB_200_2011/image_class_labels.txt", 
                        sep=' ', header=None, names=['imgid', 'label'])

imglabels = imglabels.set_index('imgid')

In [10]:
imglabels.head()

       label
imgid
1          1
2          1
3          1
4          1
5          1

In [11]:
imglabels.shape

(11788, 1)

In [12]:
df = imgatt2.join(imglabels)
df = df.sample(frac=1)

In [13]:
df.shape

(11788, 313)

In [14]:
df.head(3)

,1,2,3,4,5,6,7,8,9,10,...,304,305,306,307,308,309,310,311,312,label
imgid,,,,,,,,,,,,,,,,,,,,,
1746,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,31
11353,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,193
10342,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,176

In [15]:
df_att = df.iloc[:, :312]
df_label = df.iloc[:, 312:]

In [16]:
df_att.head()

,1,2,3,4,5,6,7,8,9,10,...,303,304,305,306,307,308,309,310,311,312
imgid,,,,,,,,,,,,,,,,,,,,,
1746,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
11353,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
10342,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
7007,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
5752,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [17]:
df_label.head()

       label
imgid
1746      31
11353    193
10342    176
7007     120
5752      99

## Fitting,Training & Testing the Model

In [18]:
df_train_att = df_att[:8000]
df_train_label = df_label[:8000]
df_test_att = df_att[8000:]
df_test_label = df_label[8000:]

df_train_label = df_train_label['label']
df_test_label = df_test_label['label']

In [19]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_features=50, random_state=0, n_estimators=100)

In [20]:
clf.fit(df_train_att, df_train_label)

RandomForestClassifier(max_features=50, random_state=0)

In [21]:
print(clf.predict(df_train_att.head(8)))

[ 31 193 176 120  99 184 194  23]

In [22]:
clf.score(df_test_att, df_test_label)

0.4625131995776135

In [23]:
from sklearn.metrics import confusion_matrix
pred_labels = clf.predict(df_test_att)
cm = confusion_matrix(df_test_label, pred_labels)

In [24]:
cm

array([[ 4,  1,  6, ...,  0,  0,  0],
       [ 1, 12,  0, ...,  0,  0,  0],
       [ 2,  0,  7, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ...,  3,  0,  0],
       [ 0,  0,  0, ...,  0,  6,  0],
       [ 0,  0,  0, ...,  0,  0, 17]], dtype=int64)

In [25]:
from sklearn import tree
clftree = tree.DecisionTreeClassifier()
clftree.fit(df_train_att, df_train_label)
clftree.score(df_test_att, df_test_label)

0.28326293558606125

In [26]:
from sklearn import svm
clfsvm = svm.SVC(gamma='scale')
clfsvm.fit(df_train_att, df_train_label)
clfsvm.score(df_test_att, df_test_label)

0.4844244984160507