# BIRD SPECIES PREDICTION PROJECT

## Importing Libraries & Dataset

In [1]:
import pandas as pd


imgatt = pd.read_csv("C:/Users/Admin/Downloads/CUB_200_2011/CUB_200_2011/attributes/image_attribute_labels.txt",
                     sep='\s+', header=None, error_bad_lines=False, warn_bad_lines=False,
                     usecols=[0,1,2], names=['imgid', 'attid', 'present']) # '\s+' is a whitespace seperator.

## Data Exploration

In [2]:
imgatt.head()

   imgid  attid  present
0      1      1        0
1      1      2        0
2      1      3        0
3      1      4        0
4      1      5        1

In [3]:
imgatt.shape

(3677856, 3)

In [4]:
imgatt2 = imgatt.pivot(index='imgid', columns='attid', values='present')

In [5]:
imgatt2.head()

attid,1,2,3,4,5,6,7,8,9,10,...,303,304,305,306,307,308,309,310,311,312
imgid,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
5,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [6]:
imgatt2.shape

(11788, 312)

In [7]:
imgatt2.isnull().sum()

attid
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
30     0
      ..
283    0
284    0
285    0
286    0
287    0
288    0
289    0
290    0
291    0
292    0
293    0
294    0
295    0
296    0
297    0
298    0
299    0
300    0
301    0
302    0
303    0
304    0
305    0
306    0
307    0
308    0
309    0
310    0
311    0
312    0
Length: 312, dtype: int64

In [8]:
imgatt2.info

<bound method DataFrame.info of attid  1    2    3    4    5    6    7    8    9    10   ...  303  304  305  \
imgid                                                    ...
1        0    0    0    0    1    0    0    0    0    0  ...    0    0    0
2        0    0    0    0    0    0    0    0    0    0  ...    0    0    0
3        0    0    0    0    1    0    0    0    0    0  ...    0    0    0
4        0    0    0    0    1    0    0    0    0    0  ...    0    0    0
5        0    0    0    0    1    0    0    0    0    0  ...    0    0    1
6        0    0    0    0    1    0    0    0    0    0  ...    0    0    0
7        0    0    0    0    0    1    0    0    0    0  ...    0    0    0
8        0    0    0    0    0    1    0    0    0    0  ...    0    0    0
9        0    1    0    0    0    0    0    0    0    0  ...    0    0    0
10       0    0    0    0    0    0    0    0    0    0  ...    0    0    0
11       0    0    0    0    0    0    0    1    0    0  ...    0    0    1
12       0    0    0    0    0    1    0    0    0    0  ...    0    0    0
13       0    0    0    0    0    1    0    0    0    1  ...    0    0    0
14       0    0    0    0    0    0    1    0    0    0  ...    0    0    0
15       0    0    0    0    0    0    0    1    0    0  ...    0    0    0
16       0    0    0    0    1    0    0    0    0    0  ...    0    0    0
17       0    0    0    0    0    1    0    0    0    0  ...    0    0    0
18       0    0    0    0    1    0    0    0    0    0  ...    0    0    0
19       0    0    0    0    0    1    0    0    0    0  ...    0    0    0
20       0    0    0    0    1    0    0    0    0    0  ...    0    0    0
21       0    0    0    0    1    0    0    0    0    0  ...    0    0    0
22       0    0    0    0    0    1    0    0    0    0  ...    0    0    0
23       0    0    0    0    0    1    0    0    0    0  ...    0    0    0
24       0    0    0    0    0    1    0    0    0    0  ...    0    0    0
25       0    0    0    0    1    0    0    0    0    0  ...    0    0    1
26       0    0    0    0    0    1    0    0    0    0  ...    0    0    0
27       0    0    0    0    0    1    0    0    0    0  ...    0    0    0
28       0    0    0    0    0    0    1    0    0    0  ...    0    0    0
29       0    0    0    0    1    0    0    0    0    0  ...    0    0    1
30       0    0    0    0    1    0    0    0    0    0  ...    0    0    1
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
11759    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11760    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11761    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11762    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11763    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11764    0    1    0    0    0    0    0    0    0    0  ...    0    0    0
11765    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11766    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11767    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11768    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11769    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11770    0    0    0    0    0    0    0    1    0    0  ...    0    0    0
11771    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11772    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11773    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11774    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11775    0    0    0    0    0    0    1    0    0    0  ...    0    0    1
11776    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11777    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11778    0    0    0    0    0    0    1    0    0    0  ...    0    0    1
11779    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11780    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11781    0    1    0    0    0    0    0    0    0    0  ...    0    0    0
11782    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11783    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11784    0    1    0    0    0    0    0    0    0    0  ...    0    0    0
11785    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11786    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11787    0    0    0    0    0    0    1    0    0    0  ...    0    0    0
11788    0    0    0    0    0    0    1    0    0    0  ...    0    0    0

attid  306  307  308  309  310  311  312
imgid
1        0    0    1    0    0    0    0
2        0    0    0    0    0    0    0
3        0    0    1    0    0    1    0
4        1    0    0    1    0    0    0
5        0    0    0    0    0    0    0
6        1    0    1    0    1    0    0
7        0    0    0    0    0    0    0
8        1    0    0    0    0    0    1
9        0    0    0    1    0    0    0
10       0    0    0    0    0    0    0
11       0    0    0    1    0    0    0
12       0    0    0    1    0    0    0
13       0    0    0    1    0    0    0
14       0    0    1    0    0    0    1
15       0    1    0    1    0    0    0
16       0    0    0    0    0    0    1
17       0    0    1    1    0    0    0
18       0    0    0    0    0    0    0
19       0    0    0    0    0    1    0
20       0    0    1    0    0    1    0
21       0    0    0    1    0    0    0
22       0    0    0    0    0    0    0
23       0    0    1    0    0    0    1
24       0    0    1    0    1    0    0
25       0    0    0    1    0    0    0
26       0    0    1    0    0    0    1
27       0    0    0    0    0    1    0
28       0    0    0    0    0    0    1
29       0    0    0    1    0    0    0
30       0    0    0    0    0    1    0
...    ...  ...  ...  ...  ...  ...  ...
11759    0    0    0    1    0    0    0
11760    0    0    0    0    0    0    1
11761    0    0    1    1    0    0    0
11762    1    0    0    1    0    0    0
11763    0    0    0    0    0    0    1
11764    0    0    0    1    0    0    0
11765    1    0    1    1    0    0    0
11766    1    0    1    1    0    0    0
11767    1    0    1    0    0    0    1
11768    0    0    0    0    0    1    0
11769    0    0    0    1    0    0    0
11770    0    0    0    1    0    0    0
11771    1    0    0    0    0    1    0
11772    0    0    0    0    0    0    0
11773    1    0    0    0    0    0    0
11774    0    0    0    0    0    0    0
11775    0    0    1    0    0    0    1
11776    1    0    0    0    0    0    1
11777    0    0    1    1    0    0    0
11778    1    0    1    1    0    0    0
11779    0    0    0    0    1    0    0
11780    0    0    0    1    0    0    0
11781    0    0    1    1    0    0    0
11782    0    0    0    0    0    0    0
11783    1    0    1    0    0    0    1
11784    1    0    0    1    0    0    0
11785    1    0    1    0    0    0    0
11786    0    0    1    0    0    1    0
11787    0    0    0    0    0    1    0
11788    1    0    1    0    0    0    1

[11788 rows x 312 columns]>

In [9]:
imglabels = pd.read_csv("C:/Users/Admin/Downloads/CUB_200_2011/CUB_200_2011/image_class_labels.txt", 
                        sep=' ', header=None, names=['imgid', 'label'])

imglabels = imglabels.set_index('imgid')

In [10]:
imglabels.head()

       label
imgid
1          1
2          1
3          1
4          1
5          1

In [11]:
imglabels.shape

(11788, 1)

In [12]:
df = imgatt2.join(imglabels)
df = df.sample(frac=1)

In [13]:
df.shape

(11788, 313)

In [14]:
df.head(3)

,1,2,3,4,5,6,7,8,9,10,...,304,305,306,307,308,309,310,311,312,label
imgid,,,,,,,,,,,,,,,,,,,,,
3471,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,60
4470,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,77
7971,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,1,0,0,0,136

In [15]:
df_att = df.iloc[:, :312]
df_label = df.iloc[:, 312:]

In [16]:
df_att.head()

,1,2,3,4,5,6,7,8,9,10,...,303,304,305,306,307,308,309,310,311,312
imgid,,,,,,,,,,,,,,,,,,,,,
3471,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4470,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7971,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
11636,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
894,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [17]:
df_label.head()

       label
imgid
3471      60
4470      77
7971     136
11636    198
894       16

## Fitting,Training & Testing the Model

In [18]:
df_train_att = df_att[:8000]
df_train_label = df_label[:8000]
df_test_att = df_att[8000:]
df_test_label = df_label[8000:]

df_train_label = df_train_label['label']
df_test_label = df_test_label['label']

In [19]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_features=50, random_state=0, n_estimators=100)

In [20]:
clf.fit(df_train_att, df_train_label)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=50, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [21]:
print(clf.predict(df_train_att.head(8)))

[ 60  77 136 198  16  70 145 124]

In [22]:
clf.score(df_test_att, df_test_label)

0.4477296726504752

In [23]:
from sklearn.metrics import confusion_matrix
pred_labels = clf.predict(df_test_att)
cm = confusion_matrix(df_test_label, pred_labels)

In [24]:
cm

array([[ 3,  2,  4, ...,  0,  0,  0],
       [ 0, 12,  0, ...,  0,  0,  0],
       [ 2,  0,  5, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ...,  2,  0,  0],
       [ 0,  0,  0, ...,  1,  5,  0],
       [ 0,  0,  0, ...,  0,  0, 17]], dtype=int64)

In [25]:
from sklearn import tree
clftree = tree.DecisionTreeClassifier()
clftree.fit(df_train_att, df_train_label)
clftree.score(df_test_att, df_test_label)

0.264519535374868

In [26]:
from sklearn import svm
clfsvm = svm.SVC(gamma='scale')
clfsvm.fit(df_train_att, df_train_label)
clfsvm.score(df_test_att, df_test_label)

0.4778247096092925

In [34]:
print(clfsvm.predict(df_test_att.head(8)))

[164  75   4  42 151 173  89 121]

In [43]:
print(clf.predict(df_test_att.head(10)))

[164  75   4  42 151 136  89  91 101 183]

### Cross validation scores

In [44]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(clf, df_train_att, df_train_label, cv=5)
# show average score and +/- two standard deviations away (covering 95% of scores)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.44 (+/- 0.01)

In [45]:
scorestree = cross_val_score(clftree, df_train_att, df_train_label, cv=5)
print("Accuracy: %0.2f (+/- %0.2f)" % (scorestree.mean(), scorestree.std() * 2))

Accuracy: 0.26 (+/- 0.02)

In [46]:
scoressvm = cross_val_score(clfsvm, df_train_att, df_train_label, cv=5)
print("Accuracy: %0.2f (+/- %0.2f)" % (scoressvm.mean(), scoressvm.std() * 2))

Accuracy: 0.47 (+/- 0.02)